<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css?__inline=true">
  </head>
  <body>
    <header>
      やったったー
    </header>
    <div id="container">
      
    </div>
    <script src="js/app.js?__inline=true"></script>
  </body>
</html>